.force-scroll {
    overflow-y: scroll;
    height: 200px;
}
.textFont{
    font-family: Andale Mono, monospace;
    font-size: x-large;
}
.textButton{
    font-family: Andale Mono, monospace;
    font-size: medium;
}
